<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.javaee7.servlet.error.mapping.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page> 
        <error-code>404</error-code> 
        <location>/error-404.jsp</location>
    </error-page>
    <error-page> 
        <exception-type>java.lang.RuntimeException</exception-type> 
        <location>/error-exception.jsp</location>
    </error-page>
</web-app>
