<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!-- 
        This defines the data source that's used by persistence.xml to back to the JPA persistence unit. 
        The database is embedded within this application (see the pom.xml of this project).
     -->
    
    <data-source>
        <name>java:app/MyApp/MyDS</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <url>jdbc:h2:mem:test</url>
    </data-source>

</web-app>

